* {
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  margin: auto;
  margin-top: 120px;
  height: 1050px;
  width: 2300px;
  border: 3px solid black;
}


.title {
  height: 120px;
  width: 200px;
  border: 3px solid black;
  margin: 318px
}

.click {
  align-items: center;
}

.dice-container {
  position: relative;
  left: 50px;
  margin: 120px;
  height: 800px;
  width: 850px;
  border: 3px solid black;
}

.roll-log {
  margin: 120px 200px;
  height: 795px;
  width: 830px;
  border: 3px solid red;
}